@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900");
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}

input[type=text] {
  padding:5px; 
  border:2px solid black;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.9);
}

input[type=text]:focus {
  border-color:#333;
}

button[type=submit] {
  background: rgba(0, 78, 93, 1);
  color: white;
  height: 38px;
  width: 100px;
  font: bold 15px arial, sans-serif;
  text-shadow: black;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.9);
}

button:hover {background-color: #031925}

button:active {
  background-color: #041c30;
  box-shadow: 0 5px rgb(7, 7, 7);
  transform: translateY(5px);
}

.weather-card {
  margin: 60px auto;
  height: 740px;
  width: 450px;
  background: black;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  transition: all .2s ease-in-out;
}
.weather-card .top {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  text-align: center;

}
.weather-card:hover {
  transform: scale(1.1);
}

.weather-card .top .wrapper {
  padding: 30px;
  position: relative;
  z-index: 1;
  animation: fadein 2s;
}

.weather-card .top .wrapper .heading {
  margin-top: 60px;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
}
.weather-card .top .wrapper .location {
  margin-top: 20px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
}

.weather-card .top .wrapper .description {
  margin-top: 0px;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
}
.weather-card .top .wrapper .temp {
  margin-top: 145px;
}
.weather-card .top .wrapper .temp a {
  text-decoration: none;
  color: #fff;
}
.weather-card .top .wrapper .temp a .temp-type {
  font-size: 85px;
}
.weather-card .top .wrapper .temp .temp-value {
  display: inline-block;
  font-size: 85px;
  font-weight: 600;
  color: #fff;
}
.weather-card .top .wrapper .temp .deg {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  vertical-align: top;
  margin-top: 10px;
}
.weather-card .top:after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fade-in {
  opacity: 0;
}
.fade-in.visible {
  transition: opacity 2s ease-in;
  opacity: 1;
}